.columns .columns-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.columns .columns-img-col img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .columns .columns-row {
    flex-direction: row;
    align-items: center;
  }
  .columns .columns-row > div {
    flex: 1;
  }
  .columns.align-right .columns-row {
    flex-direction: row-reverse;
  }
}